{% extends "layout.html" %}

{% block title %}
    finish
{% endblock %}
{% block main %}
<form action="/finish" method="post">
  <div class="form-group">
    <select required name="task_id" class="form-select form-control" aria-label="Default select">
        <option value=""> Choose your Task </option>
        {% for task in user_tasks %}
            <option>{{ task["task"] }}</option>
        {% endfor %}
    </select>
  </div>
  <button style='width: 200px' class="form-group btn btn-info" type="submit">finish</button>
  <style>
    body {
        background-image: url('https://wallpapercave.com/wp/wp5221548.jpg');
        background-size: cover; /* This ensures that the background image covers the entire viewport */
        height: 100vh; /* Set the height of the body to the full viewport height */
        margin: 0; /* Remove default margin */
    }
    </style>
{% endblock %}
