.sequence {
    color: #043927;
    font-family: Georgia, serif;
    text-align : left;
    font-size: 200%;
    }


.contact {
    color: ;
    font-family: ;
    font-size: ;

    }

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

li,a,button {
    font-family: monospace;
    font-weight: 500;
    font-size: 16px;
    color: #1B4D3E;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    color: #00CCFF;
}

.nav-links li{
    display: inline-block;
    padding:0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #00CCFF;
}

button {
    padding: 10px 30px;
    background-color: #72A0C1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition:all 0.3s ease 0s;
}
button:hover{
    background-color: #00CCFF;
}
